<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UrT_pk3_creator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UrT_pk3_creator.Properties.Settings>
            <setting name="ServerList" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomBackgroundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtraPageButton" serializeAs="String">
                <value>^1-V^7R^2z-</value>
            </setting>
            <setting name="ExtraPageEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtraPageLeft" serializeAs="String">
                <value>This custom pk3 was created using \r\nThe Custom PK3 creator by -VRz-K3I.</value>
            </setting>
            <setting name="ExtraPageTopRight" serializeAs="String">
                <value>-VRz- WeRockz!</value>
            </setting>
            <setting name="ExtraPageBottomRight" serializeAs="String">
                <value>http://www.vrzclan.com/</value>
            </setting>
            <setting name="ExtraPageTitle" serializeAs="String">
                <value>[WE ROCKZ]</value>
            </setting>
            <setting name="CustomPK3Name" serializeAs="String">
                <value>zzzpak000</value>
            </setting>
        </UrT_pk3_creator.Properties.Settings>
    </userSettings>
</configuration>